/* Css variables */
:root {
	--primary:  #ddd;
	--dark: #333;
	--light: #fff;
	--shadow:  0 1px 5px rgba(104, 104, 104, .8);
}

html {
	box-sizing:  border-box;
	/* do the box-sizing =borderbox for all elements. ALWAYS */
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark);
	background: #ccc;
	margin: 30px, 50px;
	line-height: 1.4;
	font-size: 16px;
	/* font-size: 1.3vw; */
		/* usually keep it as 1.4 */
}

h1 {
	font-size: 4rem;
	margin-bottom: 0;
	/* makes it so there is less space between heading and start of paragraph */
}

h4 {
	margin-bottom: 0;
}
.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;	
}



img {
	max-width: 100%;
	/* makes sure that images stay within their parent containers */
}

.btn {
	background: var(--dark);
	color: var(--light);
	padding: 0.6rem 1.3rem;
		/* 1rem = 16px * remunit*/
	text-decoration: none;
	border: 0;
}



/* navigation */
.main-nav ul {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.main-nav a {
	display: block;
	text-decoration: none;
	color: black;
	background: var(--primary);
	text-align: center;
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
	padding: 0.8rem;
}

.main-nav a:hover {
	background: var(--dark);
	color: var(--light);
}

/* section1 */
.section1 {
	display: grid;
	grid-gap: 20px;
/* 	padding: 0rem .8rem; */
	grid-template-areas:
	'showcase showcase top-box-a'
	'showcase showcase top-box-b'
	;
	
}

/* assigning showcase class to a grid area*/
.showcase {
	grid-area: showcase;
	min-height: 400px;
	background:  url(https://images.pexels.com/photos/2115257/pexels-photo-2115257.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-size: cover%;
	background-position: center;
	color: white;
	padding: 3rem;
		/* makes sure the entire picture is scaled to fit the container */
		/* background-position: center; */

		/* auto = displays at original size */
	display: flex;
	/* adds a flex box for the 3 elements inside showcase. defaul is horizontal so creates 3 columns */
	flex-direction: column;
	/* changes it to create 3 rows */
	align-items: start;
	justify-content: center;
	box-shadow: var(--shadow);
}

.showcase p {
	font-size: 1.3rem;
	margin-top: 0;
}
.top-box-a {
	grid-area: top-box-a;
	background: var(--primary);

	display: grid;
	align-items: center;
	justify-items: center;
	padding: .8rem;

	box-shadow: var(--shadow);
}

.top-box-a .price {
	font-size: 2.5rem;
}

.top-box-b {
	grid-area: top-box-b;
	background: var(--primary);

	display: grid;
	align-items: center;
	justify-items: center;
	padding: .8rem;

	box-shadow: var(--shadow);
}

.top-box-b .price {
	font-size: 2.5rem;
}

/* .section2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 0rem .8rem;
} */
/* above css will always ahve 4 columns even on small screen */

.section2 {
	display: grid;
	grid-gap: 20px;
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
	/* max of 1fr - will always get bigger with screen width because its a fractional */
/* min of 200px - will add a new row if forcing size to less than 200 */
/* so wont have write a seperate mediaqueries */
	grid-template-columns: 1fr 1fr 1fr 1fr;
}


.section2 .row-boxes {
	background: var(--primary);
	padding: 1.5rem 2rem;
	text-align: center;
	box-shadow: var(--shadow);
}

.line{
	display: block;
	height: 4px;
	width: auto;
	background: var(--dark);
}
.section3 {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 2rem;

}

.section4 {
	display: grid;
	grid-gap: 20px;
	/* grid-template-columns: 1fr; */
	}
.section4 h3 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 0;
}

.section4 .image-list{
	display: grid;
	grid-gap: 20px;
	/* grid-template-columns: 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.section4 img {
	width: 100%;
}

.section5-footer {
	background: var(--dark);
	text-align: center;
	color: var(--light);
}

/* Media Queries */
@media (max-width: 700px) {
	/* everything will be for width of 700 or less */

	/* changes formatting of template area */
	.section1 {
		grid-template-areas: 
			'showcase showcase'
			'top-box-a top-box-b';
	}
	/* resizes heading */
	h1 {
		font-size: 2.5rem;
	}
	/* changes navigation */
	.main-nav ul {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
	.section2 {
		grid-template-columns: 1fr 1fr;
	}
	.section3 {
		grid-template-columns: 1fr;
		grid-gap: 20px;
		padding: 2rem;
	}

	.btn {
		/* changes the button to a full line */
		display: block;
		text-align: center;
		padding: 0.6rem 1.3rem;
			/* 1rem = 16px * remunit*/
		text-decoration: none;
		border: 0;
	}
	.line{
		display: block;
		height: 4px;
		width: auto;
		background: var(--dark);
	}
}

@media (max-width: 500px) {
	/* everything will be for width of 500 or less */

	/* changes formatting of template area */
	.section1 {
		grid-template-areas: 
			'showcase'
			'top-box-a'
			'top-box-b';
	}
	/* resizes heading */
	h1 {
		font-size: 2.5rem;
	}
